@model List<MyMvcWebApp10pm.Models.EmployeeModel>
@{
    ViewBag.Title = "SendDatausingListModel";
}

<h2>SendDatausingListModel</h2>

@{

    var a = Html.Partial("_myPartialView", Model);
    int result = 2;
    if (result == 2)
    {
        @a
    }
    else
    {
        <p>no result</p>
    }

}



@{
    Html.RenderPartial("_myPartialView", Model);
}


@* 
    
    Render partial is faster
    it return void


    Partial view will return Html Encoded string
    it is somewhat slower then Rder Partial Method 



*@