
@{
    ViewBag.Title = "SendData2";
    var emp = ViewBag.Emp;
}

<h2>SendData2</h2>

<span>EmpId:</span>  @emp.EmpId
<br />
<span>EmpName:</span>@emp.EmpName
<br />
<span>EmpSalary</span>@emp.EmpSalary
<br />